<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <h1>Админ панель</h1>
    <div>
        <h2>Выберите категорию</h2>
        <ul>
            <li><a href="/adminboard/offers">Объявления</a></li>
            <li><a href="/adminboard/users">Пользователи</a></li>
            <li><a href="/adminboard/models">Модели</a></li>
        </ul>
    </div>
</div>
<div sec:authorize="!hasAuthority('ROLE_ADMIN')">
    <p>У вас нет прав доступа к этой странице.</p>
</div>
</body>
</html>