<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Управление моделями</title>
</head>
<body>
<div sec:authorize="hasAuthority('ADMIN')">
    <h1>Управление моделями</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        <tr th:each="model : ${models}">
            <td th:text="${model.id}"></td>
            <td th:text="${model.name}"></td>
        </tr>
    </table>
    <a href="/adminboard">Назад к админ панели</a>
</div>
</body>
</html>
