<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Управление предложениями</title>
</head>
<body>
<h1>Список предложений</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Описание</th>
    <th>Действия</th>
  </tr>
  <tr th:each="offer : ${offers}">
    <td th:text="${offer.id}"></td>
    <td th:text="${offer.description}"></td>
    <td>
      <form th:action="@{/adminboard/deleteOffer/{id}(id=${offer.id})}" method="post">
        <input type="submit" value="Удалить"/>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
