<!DOCTYPE html>
<html lang="en">
<head>
  <title>Добавление Марки</title>
</head>
<body>
<div class="container">
  <h2>Добавить Новую Марку</h2>
  <form th:action="@{/brands/add}" th:object="${brand}" method="post">
    <div>
      <label>Название:</label>
      <input type="text" th:field="*{name}" />
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка в названии</div>
    </div>
    <div>
      <button type="submit">Добавить</button>
    </div>
  </form>
</div>
</body>
</html>
