<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Brand List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .top-right-controls {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    </style>
</head>
<body>

<div class="top-right-controls">
    <div th:if="${!#authorization.expression('isAuthenticated()')}">
        <a href="/login" class="btn btn-secondary mb-3">Вход</a>
        <a href="/users/add" class="btn btn-secondary mb-3">Регистрация</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="top-right-controls">
        <a th:href="@{/users/profile/{username}(username=${#authentication.name})}" class="btn btn-secondary mb-3">
            <span th:text="${#authentication.name}">Профиль</span>
        </a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти" class="btn btn-secondary mb-3"/>
        </form>
    </div>
</div>

<div class="container mt-5">
    <div class="btn-align">
        <sec:authorize access="isAuthenticated()">
            <a href="/index" class="btn btn-secondary">Главная страница</a>
            <a href="/models/list" class="btn btn-secondary">Список моделей</a>
            <a href="/offers/list" class="btn btn-secondary">Просмотреть объявления</a>
        </sec:authorize>
    </div>

    <h1 class="text-center">Список марок автомобилей</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.name}">Brand Name</td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/brands/add}" class="btn btn-success">Добавить новую марку автомобиля</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
