<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>

<form action="/users/create" method="post">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username" required>
  <br>

  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required>
  <br>

  <label for="firstname">Имя:</label>
  <input type="text" id="firstname" name="firstname" required>
  <br>

  <label for="lastname">Фамилия:</label>
  <input type="text" id="lastname" name="lastname" required>
  <br>

  <label for="userRoleDto.role">Роль:</label>
  <select id="userRoleDto.role" name="userRoleDto.role">
    <option value="USER">Пользователь</option>
    <option value="ADMIN">Администратор</option>
  </select>
  <br>

  <input type="submit" value="Зарегистрировать">
</form>

<p>Уже есть аккаунт? <a href="/users/login">Войдите</a></p>
</body>
</html>
