<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование профиля</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Редактирование профиля</h1>
  <form th:action="@{/users/profile/update}" th:object="${user}" method="post">
    <div class="form-group">
      <label for="password">Новый пароль:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="firstName">Имя:</label>
      <input type="text" class="form-control" id="firstName" name="firstname" th:value="*{firstname}">
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <input type="text" class="form-control" id="lastName" name="lastname" th:value="*{lastname}">
    </div>
    <button type="submit" class="btn btn-primary">Обновить</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
