<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Просмотр пользователя</h1>
  <div>
    <h2 th:text="${user.username}">Username</h2>
    <p><strong>Имя:</strong> <span th:text="${user.firstname}">FirstName</span></p>
    <p><strong>Фамилия:</strong> <span th:text="${user.lastname}">LastName</span></p>
    <p><strong>Статус аккаунта:</strong><span th:text="${user.isActive} ? ' Активен' : ' Забанен'">Status</span></p>
    <a th:href="@{/users/profile/{username}/user_offers(username=${user.username})}" class="btn btn-primary">Объявления пользователя</a>
    <div th:if="${user.imageUrl}">
      <h3>Изображение пользователя:</h3>
      <img th:src="${user.imageUrl}" alt="User Image" />
    </div>
    <p th:unless="${user.imageUrl}">No image available.</p>
  </div>
  <div class="mt-3">
    <a th:href="@{/offers/list}" class="btn btn-primary">Вернуться к списку объявлений</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
