<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Details</title>
</head>
<body>

<h1>Просмотр пользователя</h1>
<div>
  <h2 th:text="${user.username}">Username</h2>
  <p><strong>ID:</strong> <span th:text="${user.id}">ID</span></p>
  <p><strong>First Name:</strong> <span th:text="${user.firstname}">Имя</span></p>
  <p><strong>Last Name:</strong> <span th:text="${user.lastname}">Фамилия</span></p>
  <p><strong>Active:</strong> <span th:text="${user.isActive} ? 'Yes' : 'No'">Статус аккаунта</span></p>
  <div th:if="${user.imageUrl}">
    <h3>User Image:</h3>
    <img th:src="${user.imageUrl}" alt="User Image" />
  </div>
  <p th:unless="${user.imageUrl}">No image available.</p>
</div>
</body>
</html>
