<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Details</title>
</head>
<body>

<h1>Просмотр пользователя</h1>
<div>
  <h2 th:text="${user.username}">Username</h2>
  <p><strong>Имя:</strong> <span th:text="${user.firstname}">FirstName</span></p>
  <p><strong>Фамилия:</strong> <span th:text="${user.lastname}">LastName</span></p>
  <p><strong>Статус аккаунта:</strong><span th:text="${user.isActive} ? ' Активен' : ' Забанен'">Status</span></p>
  <a th:href="@{/users/profile/{username}/user_offers(username=${user.username})}" class="btn btn-primary">Объявления пользователя</a>
  <div th:if="${user.imageUrl}">
    <h3>Изображение пользователя:</h3>
    <img th:src="${user.imageUrl}" alt="User Image" />
  </div>
  <p th:unless="${user.imageUrl}">No image available.</p>
</div>
</body>
</html>
