<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список моделей</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Список моделей</h1>
  <a href="/offers" class="btn btn-secondary mb-3">Перейти к списку объявлений</a>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Название модели</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="model : ${models}">
      <td th:text="${model.name}">Model Name</td>
      <td>
        <a th:href="@{/models/{id}(id=${model.id})}" class="btn btn-info btn-sm">Посмотреть</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a href="/models/add" class="btn btn-success">Добавить новую модель</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
