<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Model Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Информация о модели</h1>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tr>
          <th>Название</th>
          <td th:text="${model.name}"></td>
        </tr>
        <tr>
          <th>Категория</th>
          <td th:text="${model.category}"></td>
        </tr>
        <tr>
          <th>Изображение</th>
          <td><img th:src="${model.imageUrl}" alt="Изображение модели" class="img-fluid"/></td>
        </tr>
        <tr>
          <th>Начальный год</th>
          <td th:text="${model.startYear}"></td>
        </tr>
        <tr>
          <th>Конечный год</th>
          <td th:text="${model.endYear}"></td>
        </tr>
        <tr>
          <th>Бренд</th>
          <td th:text="${model.brand != null ? model.brand.name : 'N/A'}"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mt-3">
    <a th:href="@{/models/list}" class="btn btn-primary">Вернуться к списку моделей</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
