<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container">
  <h2>Edit Offer</h2>
  <form th:action="@{/offers/edit/{id}(id=${offer.id})}" th:object="${offer}" method="post">
    <div>
      <label for="description">Description</label>
      <input type="text" id="description" th:field="*{description}" />
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" id="price" th:field="*{price}" />
    </div>
    <div>
      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" th:field="*{imageUrl}" />
    </div>
    <button type="submit">Update Offer</button>
  </form>
  <a href="/adminboard">Назад к админ панели</a>
</div>
</body>
</html>
