<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Offers List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Объявления</h1>
  <a href="/models" class="btn btn-secondary mb-3">Перейти к списку моделей</a>
  <sec:authorize access="isAuthenticated()">
    <a href="/offers/create" class="btn btn-success">Создать новое объявление</a>
  </sec:authorize>
</div>

<div class="container mt-5">
  <h1>Объявления</h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Описание</th>
      <th>Стоимость</th>
      <th>Пробег</th>
      <th>Изображение</th>
      <th>Двигатель</th>
      <th>Трансмиссия</th>
      <th>Продавец</th>
      <th>Модель</th>
      <th>Взаимодействие с объявлением</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="offer : ${offers}">
      <td th:text="${offer.description}">Description</td>
      <td th:text="${offer.price}">Price</td>
      <td th:text="${offer.mileage}">Mileage</td>
      <td>
        <img th:if="${offer.imageUrl}" th:src="${offer.imageUrl}" alt="Image" style="height: 50px;">
        <span th:if="${offer.imageUrl == null}">No Image</span>
      </td>
      <td th:text="${offer.engine}">Engine</td>
      <td th:text="${offer.transmission}">Transmission</td>
      <td th:text="${offer.user.username}">username</td>
      <td th:text="${offer.model.name}">Model Name</td>
      <td>
        <a th:href="@{/offers/{id}(id=${offer.id})}" class="btn btn-info">Просмотреть</a>
        <sec:authorize access="isAuthenticated()">
          <a th:href="@{/offers/{id}/edit(id=${offer.id})}" class="btn btn-primary">Редактировать</a>
          <form th:action="@{/offers/{id}/delete(id=${offer.id})}" method="get">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-danger">Удалить</button>
          </form>
        </sec:authorize>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
