<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Offer Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Описание объявления</h1>

  <div class="card">
    <div class="card-body">
      <p class="card-text"><strong>Модель:</strong> <span th:text="${offer.model.name}">Model</span></p>
      <p class="card-text"><strong>Цена:</strong> <span th:text="${offer.price}">Price</span></p>
      <p class="card-text"><strong>Описание:</strong> <span th:text="${offer.description}">Description</span></p>
      <p class="card-text"><strong>Тип двигателя:</strong> <span th:text="${offer.engine}">Engine</span></p>
      <p class="card-text"><strong>Пробег:</strong> <span th:text="${offer.mileage}">Mileage</span></p>
      <p class="card-text"><strong>Трансмиссия:</strong> <span th:text="${offer.transmission}">Transmission</span></p>
      <p class="card-text">
        <strong>Продавец:</strong>
        <a th:href="@{/users/profile/{username}(username=${offer.user.username})}" th:text="${offer.user.username}">Username</a>
      </p>
      <div th:if="${offer.imageUrl}">
        <img th:src="${offer.imageUrl}" alt="Car Image" class="img-fluid"/>
      </div>
      <div th:if="${offer.imageUrl == null}">No image available</div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
